body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:#C0C6E0;
}
nav {
  background-color:#555F8B;
  padding: 30px 150px 30px 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  background-color: #657A9B;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h2 {
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  transition: color 0.2s;
  margin: 5px 15px;
} 

.cadastro a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
    transition: color 0.2s;
}

.cadastro a:hover {
  color: #16c60c;
  transform: scale(1.05);
}

main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
}

.tarefas {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#conteudo h3 {
    color: red;
}

.tarefas {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prioridade {
  margin-bottom: 10px;
}

.prioridade select{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prioridade option {
  border-color: #ccc;
  border-radius: 5px;
}

.descricao {
  margin-bottom: 10px;
}

.descricao input{
  background-color: #f0f0f0;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.local {
  margin-bottom: 10px;
}

.local input{
  width: 40%;
  background-color: #f0f0f0;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dataLimite {
  margin-bottom: 10px;
}

.dataLimite input{
  background-color: #f0f0f0;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.matricula {
  margin-bottom: 10px;
}

.matricula input{
  background-color: #f0f0f0;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.recurso {
  margin-bottom: 10px;
}

.recurso input{
  background-color: #f0f0f0;
  width: 23%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recurso button{
  margin-left: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #000000;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  padding: 0.2rem 0.6rem;
}

.recurso button:hover{
  transform: scale(1.05);
}

.button button{
  margin-left: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #000000;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  padding: 0.2rem 0.6rem;
}

.button button:hover{
  color: #16c60c;
  transform: scale(1.05);
}